In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns  # visualization tool

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
terror_data_1970_2016 = pd.read_csv("/content/drive/MyDrive/terror/globalterrorismdb_0617dist.csv",encoding='ISO-8859-1')
terror_data_1970_2016.rename(columns={'iyear':'Year','imonth':'Month','iday':'Day','country_txt':'Country','region_txt':'Region','city':'City','latitude':'Latitude','longitude':'Longitude','attacktype1_txt':'AttackType','target1':'Target','nkill':'Killed','nwound':'Wounded','summary':'Summary','gname':'Group','targtype1_txt':'Target_type','weaptype1_txt':'Weapon_type','motive':'Motive'},inplace=True)
terror_data_1970_2016=terror_data_1970_2016[['Year','Month','Day','Country','Region','City','Latitude','Longitude','AttackType','Killed','Wounded','Target','Summary','Group','Target_type','Weapon_type','Motive','Summary']]
terror_data_1970_2016['Casualities']=terror_data_1970_2016['Killed']+terror_data_1970_2016['Wounded']
terror_data_1970_2016.head(5)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4,6,31,33,53,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Year  Month  Day  ... Motive Summary Casualities
0  1970      7    2  ...    NaN     NaN         1.0
1  1970      0    0  ...    NaN     NaN         0.0
2  1970      1    0  ...    NaN     NaN         1.0
3  1970      1    0  ...    NaN     NaN         NaN
4  1970      1    0  ...    NaN     NaN         NaN

[5 rows x 19 columns]

In [ ]:
len(terror_data_1970_2016[terror_data_1970_2016['Country']=='Afghanistan'])

11306

In [ ]:
terror_data_1970_2016.describe()

                Year          Month  ...        Wounded    Casualities
count  170350.000000  170350.000000  ...  155025.000000  154524.000000
mean     2001.709997       6.474365  ...       3.200239       5.312327
std        13.144146       3.392364  ...      34.647365      40.798412
min      1970.000000       0.000000  ...       0.000000       0.000000
25%      1990.000000       4.000000  ...       0.000000       0.000000
50%      2007.000000       6.000000  ...       0.000000       1.000000
75%      2014.000000       9.000000  ...       2.000000       4.000000
max      2016.000000      12.000000  ...    7366.000000    8749.000000

[8 rows x 8 columns]

In [ ]:
terror_data_1970_2016['Year'].max()

2016

In [ ]:
gdp_data = pd.read_csv("/content/drive/MyDrive/terror/countries of the world.csv",encoding='ISO-8859-1')
gdp_data.rename(columns={'GDP ($ per capita)':'GDP'},inplace=True)
gdp_data.head(3)

        Country                               Region  ...  Industry  Service
0  Afghanistan         ASIA (EX. NEAR EAST)           ...      0,24     0,38
1      Albania   EASTERN EUROPE                       ...     0,188    0,579
2      Algeria   NORTHERN AFRICA                      ...       0,6    0,298

[3 rows x 20 columns]

In [ ]:
gdp_data['GDP'].describe()

count      226.000000
mean      9689.823009
std      10049.138513
min        500.000000
25%       1900.000000
50%       5550.000000
75%      15700.000000
max      55100.000000
Name: GDP, dtype: float64

In [ ]:
country_gdp_data = gdp_data[['Country','GDP','Population']]

In [ ]:
country_gdp_data

             Country      GDP  Population
0       Afghanistan     700.0    31056997
1           Albania    4500.0     3581655
2           Algeria    6000.0    32930091
3    American Samoa    8000.0       57794
4           Andorra   19000.0       71201
..               ...      ...         ...
222       West Bank     800.0     2460492
223  Western Sahara       NaN      273008
224           Yemen     800.0    21456188
225          Zambia     800.0    11502010
226        Zimbabwe    1900.0    12236805

[227 rows x 3 columns]

In [ ]:
filter_year = terror_data_1970_2016['Year'] >= 2000

In [ ]:
terror_data_2000_2016 = terror_data_1970_2016[filter_year]

In [ ]:
# for i in range(len(country_gdp_data.Country)):
#   country_gdp_data.Country[i]=country_gdp_data.Country[i].strip()

In [ ]:
country_gdp_data.Country = country_gdp_data.Country.apply(lambda x: x.strip())

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [ ]:
len(country_gdp_data.Country[0])

11

In [ ]:
merged_terror_data = killed_wounded_data.merge(country_gdp_data, how = 'outer', on = ['Country'])

NameError: ignored

In [ ]:
merged_terror_data

NameError: ignored

In [ ]:
merged_terror_data.groupby(['Country']).describe()

NameError: ignored

In [ ]:
unique_countries_df=merged_terror_data.groupby(['Country'])

In [ ]:
unique_countries_df.head()

In [ ]:
unique_countries_df2 =unique_countries_df.Country.unique()

In [ ]:
unique_countries_df2

In [ ]:
#unique_countries_df.rename(columns={0:'Country'},inplace=True)

In [ ]:
country_gdp_data

In [ ]:
casualities = merged_terror_data.groupby(['Country']).sum()

In [ ]:
casualities = casualities.drop(['Population'], axis=1)
casualities = casualities.drop(['GDP'], axis=1)

In [ ]:
casualities

In [ ]:
merged_terror_data2 = casualities.merge(country_gdp_data, how = 'inner', on = ['Country'])

In [ ]:
merged_terror_data2

In [ ]:
# merged_terror_data3 = merged_terror_data2.merge(casualities['Casualities'], how = 'inner', on = ['Country'])

In [ ]:
  # merged_terror_data3

In [ ]:
merged_terror_data2["Casualities"] = merged_terror_data2["Casualities"].astype(int)

In [ ]:
merged_terror_data2[merged_terror_data2['GDP'].isna()]

In [ ]:
merged_terror_data2[merged_terror_data2['Country']==	'Western Sahara']

In [ ]:
merged_terror_data2["GDP"].fillna(2500,inplace=True)

In [ ]:
merged_terror_data2[merged_terror_data2['Country']==	'Western Sahara']

In [ ]:
merged_terror_data2["GDP"] = merged_terror_data2["GDP"].astype(int)

In [ ]:
series_killed=(killed_wounded_data['Country'].value_counts())

In [ ]:

df = series_killed.to_frame()

In [ ]:
df = df.rename(columns = {0:'Country'},index=None)

In [ ]:
count_event=pd.DataFrame({'Country':series_killed.index, 'Count':series_killed})

In [ ]:
count_event

In [ ]:
merged_terror_data2 = merged_terror_data2.merge(count_event, how = 'inner', on = ['Country'])

In [ ]:
#merged_terror_data3 = merged_terror_data2.merge(casualities['Casualities'], how = 'inner', on = ['Country'])

In [ ]:
merged_terror_data2

In [ ]:
#Formülasyon
merged_terror_data2['Total_Risk_A']=((merged_terror_data2['Casualities']/merged_terror_data2['Count']) / (merged_terror_data2['GDP']/merged_terror_data2['Population']))

In [ ]:
merged_terror_data2 = merged_terror_data2.replace([np.inf, -np.inf], np.nan)

In [ ]:
merged_terror_data2.fillna(0)

In [ ]:
merged_terror_data2[merged_terror_data2['Country']=='Iraq']

In [ ]:
pd.set_option('display.max_rows', 500)
merged_terror_data2

In [ ]:
pd.set_option('display.max_rows', 500)
country_gdp_data

In [ ]:
from bokeh.models import NumeralTickFormatter
from bokeh.layouts import gridplot
from bokeh.models import ColumnDataSource
from math import pi
from bokeh.io import output_notebook
from bokeh.io import export_png
from bokeh.io import curdoc, output_notebook
from bokeh.models import HoverTool
#from bokeh.layouts import widgetbox, row, column
from bokeh.palettes import brewer
from bokeh.models import FixedTicker,NumeralTickFormatter
from bokeh.plotting import figure
from bokeh.models import GeoJSONDataSource, LinearColorMapper, ColorBar
from bokeh.palettes import brewer
import folium

In [ ]:
!pip install geopandas

In [ ]:
# !wget --quiet https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DV0101EN/labs/Data_Files/world_countries.json -O world_countries.json
    
# print('GeoJSON file downloaded!')

In [ ]:
import geopandas as gpd
df = gpd.read_file('/content/world_countries.json')
print(df.columns)
df.head()

In [ ]:
df

In [ ]:
world_geo = r'/content/world_countries.json' # geojson file
# create a plain world map
world_map = folium.Map(location=[0, 0], zoom_start=2, tiles='Mapbox Bright')

In [ ]:
m18 = folium.Map(location=[0, 0],zoom_start=2,tiles='Mapbox Bright')

In [ ]:
merged_terror_data2[merged_terror_data2['Country']=='Russia']

In [ ]:
merged_terror_data2.Total_Risk_A.max()/4

In [ ]:
merged_terror_data2['Total_Risk_A']=merged_terror_data2['Total_Risk_A']*100000

In [ ]:
# myscale = (nilpop['PER_FOREIGN'].quantile((0,0.1,0.75,0.9,0.98,1))).tolist()

In [ ]:
bins = list(merged_terror_data2['Total_Risk_A'].quantile([0, 0.3, 0.5, 0.8, 1]))

In [ ]:
m18.choropleth(
    geo_data=world_geo,
    name='Terör Risk Haritası',
    data=merged_terror_data2,
    columns=['Country','Total_Risk_A'],
    key_on='feature.properties.name',
    bins=bins,
    #threshold_scale=[0, 8058, 16116, 24174, 70000.173353742426],
    fill_color='YlOrRd',
    fill_opacity=0.8,
    line_opacity=0.9,
    legend_name='2000 to 2016'
)
folium.LayerControl().add_to(m18)

In [ ]:
m18